
FluentDL.Core/obj/
FluentDL.Core/bin/
FluentDL.Core.Tests/obj/
FluentDL.Core.Tests/bin/
FluentDL.Core.Tests/TestResults/
/.vs/CopilotSnapshots/
/FluentDL/Assets/keys.json
/FluentDL/Assets/keys.txt
/FluentDL/artifacts/
/FluentDL/bin/
/FluentDL/obj/
/.vs/CopilotSnapshots/

*.bak
